@font-face {
   font-family: 'AsiaKDREAM7R';
   font-display: swap;
   src: url('file:///C:/Users/%EA%B9%80%EB%8F%84%ED%98%84/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-30_175247/fonts/AsiaKDREAM7R/font.ttf');
}
